/* Navbar.css */
.navbar-nav {
    display: flex;
    align-items: center;
  }
  
  .navbar-nav li {
    margin-right: 110px; 
    margin-left: 80px;
    font-size: 25px;
    font-weight: bold;
    align-items: center;
  }
  
  .nav-link {
    text-decoration: none;
    color: inherit;
  }
  
  .nav-link:hover {
    text-decoration: underline;
    color:black;
  }
  
  .logo{
    height: 70px;
    width: 120px;
  }

  .wholenavbar{
    background-color:   #F188BE;
    border-radius: 5px;
  }

  .navbar{
    border-radius: 10px;
  }

  .dropdown-menu {
    background-color: #F188BE;
    border: none; /* Remove default border */
    border-radius: 5px; /* Add border-radius */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
  }
  
  .dropdown-item {
    color: white; /* Text color */
    padding: 10px 20px; /* Adjust padding */
    transition: background-color 0.3s, box-shadow 0.3s; /* Add transition for smooth hover effect */
  }
  
  .dropdown-item:hover {
    background-color: #F188BE; /* Change background color on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
    text-decoration: underline; /* Add underline on hover */
  }